/*geral*/
/*   
* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
    background-color: black;
}
*/


#mainContainer {
    /*Container Branco */
    padding: 40px;
    background-color: white;
    width: 500px;
    height: 400px;
    border-radius: 10px;
    border-color: white;
    margin: 200px auto;
    border: 5px;



}

input:focus,
label:focus {
    outline: none;
}


input[type="email"] {
    margin-left: 20px;
    color: white;
    width: 300px;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border: #191c29;

}

.first-box {
    margin-top: 5px;
    color: white;
    background-color: white;

}

.first-box p {
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;

    text-align: left;


}

.first-box h1 {
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.first-box b {
    color: black;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.full-box {
    margin-top: 60px;
    padding: 5px;
    border-radius: 42px;
    background-color: black;

}

.bubbly-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: bolder;
    padding: 1em 2em;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 170px;
    -webkit-appearance: none;
    appearance: none;
    background-color: red;
    color: black;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(78, 31, 31, 0.5);
    
}

.bubbly-button:hover,
.bubbly-button:focus {
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
}

/*A partir daqui já é teste*/

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
}


body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    background-image: linear-gradient(var(--rotate),#36348f, #8b2f70 43%, #af6168);
    animation: spin 7s linear infinite;
}

